@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.header .container {
  width: 820px;
  margin: 0 auto;
  height: 200px;
  padding-top: 10px;
}

section .container {
  width: 820px;
  margin: 0 auto;
}

.footer .container {
  width: 820px;
  margin: 0 auto;
  height: 200px;
}
